.headerstyling {
  display: flex;
  justify-content: space-around;
  background-color: #8c5f66;
  height: 20vh;
  align-items: center;
  font-size: medium;

  border-radius: 23%;
}

main {
  text-align: center;
}

.hambu {
  display: none;
}

.headerstyling a {
  text-decoration: none;
  color: white;
}

/* .landing {
  background-image: url("../../../images/bg.jpg");
} */

.salutation2 {
  background-color: black;
  color: white;
}

body img {
  opacity: 0.8;
}

body ul {
  list-style-type: none;
}

.messageReply {
  width: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.zipLocation {
  width: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.mes-venue {
  background-color: #d8e2dc;
  margin-right: auto;
  width: 40vh;
  border-radius: 5px;
  border-style: solid;
}

.mes-user {
  background-color: #ffe5d9;
  margin-left: auto;
  width: 40vh;
  border-radius: 5px;
  border-style: solid;
}

.messageReply {
  width: 40vh;
}

.LoginPage {
  width: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.salutation a {
  text-decoration: none;
}

.salutation button {
  margin-bottom: 3vh;
  margin-top: 3vh;
}

body {
  background-color: #eed3df;
}
